stockdataingestion/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "stockdataingestion"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://stockpricesdev.dfs.core.windows.net/"
		},
		"RestApi_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.alphavantage.co/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestApi')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestApi_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Balance_sheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "balancesheet",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CashFlow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(string(dataset().ticker),'.csv')",
							"type": "Expression"
						},
						"folderPath": "cashflow",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncomeStatement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(string(dataset().ticker),'.csv')",
							"type": "Expression"
						},
						"folderPath": "incomestatement",
						"fileSystem": "staging"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					},
					"datacategory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "rawjson"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					},
					"datacategory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@replace(toLower(dataset().datacategory),'_','')",
							"type": "Expression"
						},
						"fileSystem": "staging"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestBalanceSheet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('query?function=BALANCE_SHEET','&symbol=',dataset().ticker,'&apikey=09QIJOQMPBIML925')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestCashFlow')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('query?function=CASH_FLOW','&symbol=',dataset().ticker,'&apikey=09QIJOQMPBIML925')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestIncomestatement')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('query?function=INCOME_STATEMENT','&symbol=',dataset().ticker,'&apikey=09QIJOQMPBIML925')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource_test')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestApi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ticker": {
						"type": "string"
					},
					"datacategory": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": {
						"value": "@concat('query?function=',string(dataset().datacategory),'&symbol=',dataset().ticker,'&apikey=09QIJOQMPBIML925')",
						"type": "Expression"
					}
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestApi')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SymbolsRefData')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "ticker_symbols.csv",
						"fileSystem": "symbolsref"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Balance_sheet",
								"type": "DatasetReference",
								"parameters": {
									"ticker": {
										"value": "@pipeline().parameters.ticker",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Balance_sheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/child-test-1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@variables('category')",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"supportRFC5988": "true"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "ParquetWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "RestResource_test",
											"type": "DatasetReference",
											"parameters": {
												"ticker": {
													"value": "@pipeline().parameters.ticker",
													"type": "Expression"
												},
												"datacategory": {
													"value": "@{item()}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "Parquet1_test",
											"type": "DatasetReference",
											"parameters": {
												"ticker": {
													"value": "@pipeline().parameters.ticker",
													"type": "Expression"
												},
												"datacategory": {
													"value": "@{item()}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"variables": {
					"category": {
						"type": "Array",
						"defaultValue": [
							"BALANCE_SHEET",
							"CASH_FLOW",
							"INCOME_STATEMENT"
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-14T04:48:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource_test')]",
				"[concat(variables('factoryId'), '/datasets/Parquet1_test')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Balancesheet')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RestBalanceSheet",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Balance_sheet",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     symbol as string",
						"}",
						"source(output(",
						"          body as (annualReports as (accumulatedDepreciationAmortizationPPE as long, capitalLeaseObligations as string, cashAndCashEquivalentsAtCarryingValue as long, cashAndShortTermInvestments as long, commonStock as long, commonStockSharesOutstanding as long, currentAccountsPayable as long, currentDebt as string, currentLongTermDebt as string, currentNetReceivables as string, deferredRevenue as string, fiscalDateEnding as date, goodwill as string, intangibleAssets as string, intangibleAssetsExcludingGoodwill as string, inventory as long, investments as string, longTermDebt as string, longTermDebtNoncurrent as string, longTermInvestments as string, otherCurrentAssets as long, otherCurrentLiabilities as long, otherNonCurrentAssets as long, otherNonCurrentLiabilities as long, propertyPlantEquipment as long, reportedCurrency as string, retainedEarnings as long, shortLongTermDebtTotal as string, shortTermDebt as string, shortTermInvestments as long, totalAssets as long, totalCurrentAssets as long, totalCurrentLiabilities as long, totalLiabilities as long, totalNonCurrentAssets as long, totalNonCurrentLiabilities as long, totalShareholderEquity as long, treasuryStock as string)[], quarterlyReports as (accumulatedDepreciationAmortizationPPE as string, capitalLeaseObligations as string, cashAndCashEquivalentsAtCarryingValue as long, cashAndShortTermInvestments as long, commonStock as long, commonStockSharesOutstanding as long, currentAccountsPayable as string, currentDebt as string, currentLongTermDebt as string, currentNetReceivables as string, deferredRevenue as string, fiscalDateEnding as date, goodwill as string, intangibleAssets as string, intangibleAssetsExcludingGoodwill as string, inventory as long, investments as string, longTermDebt as string, longTermDebtNoncurrent as string, longTermInvestments as long, otherCurrentAssets as long, otherCurrentLiabilities as long, otherNonCurrentAssets as long, otherNonCurrentLiabilities as long, propertyPlantEquipment as long, reportedCurrency as string, retainedEarnings as long, shortLongTermDebtTotal as string, shortTermDebt as string, shortTermInvestments as long, totalAssets as long, totalCurrentAssets as long, totalCurrentLiabilities as long, totalLiabilities as long, totalNonCurrentAssets as long, totalNonCurrentLiabilities as long, totalShareholderEquity as long, treasuryStock as string)[], symbol as string),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> source1",
						"source1 foldDown(unroll(body.annualReports, body.annualReports),",
						"     mapColumn(",
						"          accumulatedDepreciationAmortizationPPE = body.annualReports.accumulatedDepreciationAmortizationPPE,",
						"          capitalLeaseObligations = body.annualReports.capitalLeaseObligations,",
						"          cashAndCashEquivalentsAtCarryingValue = body.annualReports.cashAndCashEquivalentsAtCarryingValue,",
						"          cashAndShortTermInvestments = body.annualReports.cashAndShortTermInvestments,",
						"          commonStock = body.annualReports.commonStock,",
						"          commonStockSharesOutstanding = body.annualReports.commonStockSharesOutstanding,",
						"          currentAccountsPayable = body.annualReports.currentAccountsPayable,",
						"          currentDebt = body.annualReports.currentDebt,",
						"          currentLongTermDebt = body.annualReports.currentLongTermDebt,",
						"          currentNetReceivables = body.annualReports.currentNetReceivables,",
						"          deferredRevenue = body.annualReports.deferredRevenue,",
						"          fiscalDateEnding = body.annualReports.fiscalDateEnding,",
						"          goodwill = body.annualReports.goodwill,",
						"          intangibleAssets = body.annualReports.intangibleAssets,",
						"          intangibleAssetsExcludingGoodwill = body.annualReports.intangibleAssetsExcludingGoodwill,",
						"          inventory = body.annualReports.inventory,",
						"          investments = body.annualReports.investments,",
						"          longTermDebt = body.annualReports.longTermDebt,",
						"          longTermDebtNoncurrent = body.annualReports.longTermDebtNoncurrent,",
						"          longTermInvestments = body.annualReports.longTermInvestments,",
						"          otherCurrentAssets = body.annualReports.otherCurrentAssets,",
						"          otherCurrentLiabilities = body.annualReports.otherCurrentLiabilities,",
						"          otherNonCurrentAssets = body.annualReports.otherNonCurrentAssets,",
						"          otherNonCurrentLiabilities = body.annualReports.otherNonCurrentLiabilities,",
						"          propertyPlantEquipment = body.annualReports.propertyPlantEquipment,",
						"          reportedCurrency = body.annualReports.reportedCurrency,",
						"          retainedEarnings = body.annualReports.retainedEarnings,",
						"          shortLongTermDebtTotal = body.annualReports.shortLongTermDebtTotal,",
						"          shortTermDebt = body.annualReports.shortTermDebt,",
						"          shortTermInvestments = body.annualReports.shortTermInvestments,",
						"          totalAssets = body.annualReports.totalAssets,",
						"          totalCurrentAssets = body.annualReports.totalCurrentAssets,",
						"          totalCurrentLiabilities = body.annualReports.totalCurrentLiabilities,",
						"          totalLiabilities = body.annualReports.totalLiabilities,",
						"          totalNonCurrentAssets = body.annualReports.totalNonCurrentAssets,",
						"          totalNonCurrentLiabilities = body.annualReports.totalNonCurrentLiabilities,",
						"          totalShareholderEquity = body.annualReports.totalShareholderEquity,",
						"          treasuryStock = body.annualReports.treasuryStock,",
						"          symbol = body.symbol",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:(concat($symbol,'.csv')),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestBalanceSheet')]",
				"[concat(variables('factoryId'), '/datasets/Balance_sheet')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Cashflow')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RestCashFlow",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "CashFlow",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     symbol as string",
						"}",
						"source(output(",
						"          body as (annualReports as (capitalExpenditures as long, cashflowFromFinancing as long, cashflowFromInvestment as long, changeInCashAndCashEquivalents as long, changeInExchangeRate as string, changeInInventory as long, changeInOperatingAssets as long, changeInOperatingLiabilities as long, changeInReceivables as long, depreciationDepletionAndAmortization as long, dividendPayout as string, dividendPayoutCommonStock as string, dividendPayoutPreferredStock as string, fiscalDateEnding as date, netIncome as long, operatingCashflow as long, paymentsForOperatingActivities as string, paymentsForRepurchaseOfCommonStock as string, paymentsForRepurchaseOfEquity as string, paymentsForRepurchaseOfPreferredStock as string, proceedsFromIssuanceOfCommonStock as string, proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet as string, proceedsFromIssuanceOfPreferredStock as string, proceedsFromOperatingActivities as string, proceedsFromRepaymentsOfShortTermDebt as string, proceedsFromRepurchaseOfEquity as long, proceedsFromSaleOfTreasuryStock as string, profitLoss as long, reportedCurrency as string)[], quarterlyReports as (capitalExpenditures as long, cashflowFromFinancing as long, cashflowFromInvestment as long, changeInCashAndCashEquivalents as string, changeInExchangeRate as string, changeInInventory as long, changeInOperatingAssets as string, changeInOperatingLiabilities as string, changeInReceivables as string, depreciationDepletionAndAmortization as long, dividendPayout as string, dividendPayoutCommonStock as string, dividendPayoutPreferredStock as string, fiscalDateEnding as date, netIncome as long, operatingCashflow as long, paymentsForOperatingActivities as string, paymentsForRepurchaseOfCommonStock as string, paymentsForRepurchaseOfEquity as string, paymentsForRepurchaseOfPreferredStock as string, proceedsFromIssuanceOfCommonStock as string, proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet as string, proceedsFromIssuanceOfPreferredStock as string, proceedsFromOperatingActivities as string, proceedsFromRepaymentsOfShortTermDebt as string, proceedsFromRepurchaseOfEquity as long, proceedsFromSaleOfTreasuryStock as string, profitLoss as long, reportedCurrency as string)[], symbol as string),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> source1",
						"source1 foldDown(unroll(body.annualReports, body.annualReports),",
						"     mapColumn(",
						"          capitalExpenditures = body.annualReports.capitalExpenditures,",
						"          cashflowFromFinancing = body.annualReports.cashflowFromFinancing,",
						"          cashflowFromInvestment = body.annualReports.cashflowFromInvestment,",
						"          changeInCashAndCashEquivalents = body.annualReports.changeInCashAndCashEquivalents,",
						"          changeInExchangeRate = body.annualReports.changeInExchangeRate,",
						"          changeInInventory = body.annualReports.changeInInventory,",
						"          changeInOperatingAssets = body.annualReports.changeInOperatingAssets,",
						"          changeInOperatingLiabilities = body.annualReports.changeInOperatingLiabilities,",
						"          changeInReceivables = body.annualReports.changeInReceivables,",
						"          depreciationDepletionAndAmortization = body.annualReports.depreciationDepletionAndAmortization,",
						"          dividendPayout = body.annualReports.dividendPayout,",
						"          dividendPayoutCommonStock = body.annualReports.dividendPayoutCommonStock,",
						"          dividendPayoutPreferredStock = body.annualReports.dividendPayoutPreferredStock,",
						"          fiscalDateEnding = body.annualReports.fiscalDateEnding,",
						"          netIncome = body.annualReports.netIncome,",
						"          operatingCashflow = body.annualReports.operatingCashflow,",
						"          paymentsForOperatingActivities = body.annualReports.paymentsForOperatingActivities,",
						"          paymentsForRepurchaseOfCommonStock = body.annualReports.paymentsForRepurchaseOfCommonStock,",
						"          paymentsForRepurchaseOfEquity = body.annualReports.paymentsForRepurchaseOfEquity,",
						"          paymentsForRepurchaseOfPreferredStock = body.annualReports.paymentsForRepurchaseOfPreferredStock,",
						"          proceedsFromIssuanceOfCommonStock = body.annualReports.proceedsFromIssuanceOfCommonStock,",
						"          proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet = body.annualReports.proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet,",
						"          proceedsFromIssuanceOfPreferredStock = body.annualReports.proceedsFromIssuanceOfPreferredStock,",
						"          proceedsFromOperatingActivities = body.annualReports.proceedsFromOperatingActivities,",
						"          proceedsFromRepaymentsOfShortTermDebt = body.annualReports.proceedsFromRepaymentsOfShortTermDebt,",
						"          proceedsFromRepurchaseOfEquity = body.annualReports.proceedsFromRepurchaseOfEquity,",
						"          proceedsFromSaleOfTreasuryStock = body.annualReports.proceedsFromSaleOfTreasuryStock,",
						"          profitLoss = body.annualReports.profitLoss,",
						"          reportedCurrency = body.annualReports.reportedCurrency,",
						"          symbol = body.symbol",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:(concat($symbol,'.csv')),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestCashFlow')]",
				"[concat(variables('factoryId'), '/datasets/CashFlow')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Incomestatement')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RestIncomestatement",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "IncomeStatement",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "flatten1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     symbol as string",
						"}",
						"source(output(",
						"          body as (annualReports as (comprehensiveIncomeNetOfTax as long, costOfRevenue as long, costofGoodsAndServicesSold as long, depreciation as long, depreciationAndAmortization as long, ebit as long, ebitda as long, fiscalDateEnding as date, grossProfit as long, incomeBeforeTax as long, incomeTaxExpense as long, interestAndDebtExpense as integer, interestExpense as integer, interestIncome as string, investmentIncomeNet as string, netIncome as long, netIncomeFromContinuingOperations as long, netInterestIncome as integer, nonInterestIncome as string, operatingExpenses as long, operatingIncome as long, otherNonOperatingIncome as integer, reportedCurrency as string, researchAndDevelopment as long, sellingGeneralAndAdministrative as long, totalRevenue as long)[], quarterlyReports as (comprehensiveIncomeNetOfTax as long, costOfRevenue as long, costofGoodsAndServicesSold as long, depreciation as integer, depreciationAndAmortization as integer, ebit as long, ebitda as long, fiscalDateEnding as date, grossProfit as long, incomeBeforeTax as long, incomeTaxExpense as long, interestAndDebtExpense as integer, interestExpense as integer, interestIncome as string, investmentIncomeNet as string, netIncome as long, netIncomeFromContinuingOperations as long, netInterestIncome as integer, nonInterestIncome as string, operatingExpenses as long, operatingIncome as long, otherNonOperatingIncome as string, reportedCurrency as string, researchAndDevelopment as integer, sellingGeneralAndAdministrative as long, totalRevenue as long)[], symbol as string),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> source1",
						"source1 foldDown(unroll(body.annualReports, body.annualReports),",
						"     mapColumn(",
						"          comprehensiveIncomeNetOfTax = body.annualReports.comprehensiveIncomeNetOfTax,",
						"          costOfRevenue = body.annualReports.costOfRevenue,",
						"          costofGoodsAndServicesSold = body.annualReports.costofGoodsAndServicesSold,",
						"          depreciation = body.annualReports.depreciation,",
						"          depreciationAndAmortization = body.annualReports.depreciationAndAmortization,",
						"          ebit = body.annualReports.ebit,",
						"          ebitda = body.annualReports.ebitda,",
						"          fiscalDateEnding = body.annualReports.fiscalDateEnding,",
						"          grossProfit = body.annualReports.grossProfit,",
						"          incomeBeforeTax = body.annualReports.incomeBeforeTax,",
						"          incomeTaxExpense = body.annualReports.incomeTaxExpense,",
						"          interestAndDebtExpense = body.annualReports.interestAndDebtExpense,",
						"          interestExpense = body.annualReports.interestExpense,",
						"          interestIncome = body.annualReports.interestIncome,",
						"          investmentIncomeNet = body.annualReports.investmentIncomeNet,",
						"          netIncome = body.annualReports.netIncome,",
						"          netIncomeFromContinuingOperations = body.annualReports.netIncomeFromContinuingOperations,",
						"          netInterestIncome = body.annualReports.netInterestIncome,",
						"          nonInterestIncome = body.annualReports.nonInterestIncome,",
						"          operatingExpenses = body.annualReports.operatingExpenses,",
						"          operatingIncome = body.annualReports.operatingIncome,",
						"          otherNonOperatingIncome = body.annualReports.otherNonOperatingIncome,",
						"          reportedCurrency = body.annualReports.reportedCurrency,",
						"          researchAndDevelopment = body.annualReports.researchAndDevelopment,",
						"          sellingGeneralAndAdministrative = body.annualReports.sellingGeneralAndAdministrative,",
						"          totalRevenue = body.annualReports.totalRevenue,",
						"          symbol = body.symbol",
						"     ),",
						"     skipDuplicateMapInputs: false,",
						"     skipDuplicateMapOutputs: false) ~> flatten1",
						"flatten1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     filePattern:(concat($symbol,'.csv')),",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestIncomestatement')]",
				"[concat(variables('factoryId'), '/datasets/IncomeStatement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/test')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "RestResource_test",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          body as (annualReports as (capitalExpenditures as long, cashflowFromFinancing as long, cashflowFromInvestment as long, changeInCashAndCashEquivalents as string, changeInExchangeRate as string, changeInInventory as integer, changeInOperatingAssets as long, changeInOperatingLiabilities as integer, changeInReceivables as long, depreciationDepletionAndAmortization as long, dividendPayout as long, dividendPayoutCommonStock as long, dividendPayoutPreferredStock as string, fiscalDateEnding as date, netIncome as long, operatingCashflow as long, paymentsForOperatingActivities as long, paymentsForRepurchaseOfCommonStock as string, paymentsForRepurchaseOfEquity as string, paymentsForRepurchaseOfPreferredStock as string, proceedsFromIssuanceOfCommonStock as string, proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet as long, proceedsFromIssuanceOfPreferredStock as string, proceedsFromOperatingActivities as string, proceedsFromRepaymentsOfShortTermDebt as long, proceedsFromRepurchaseOfEquity as long, proceedsFromSaleOfTreasuryStock as string, profitLoss as long, reportedCurrency as string)[], quarterlyReports as (capitalExpenditures as long, cashflowFromFinancing as long, cashflowFromInvestment as string, changeInCashAndCashEquivalents as string, changeInExchangeRate as string, changeInInventory as string, changeInOperatingAssets as string, changeInOperatingLiabilities as string, changeInReceivables as string, depreciationDepletionAndAmortization as integer, dividendPayout as integer, dividendPayoutCommonStock as integer, dividendPayoutPreferredStock as string, fiscalDateEnding as date, netIncome as long, operatingCashflow as long, paymentsForOperatingActivities as string, paymentsForRepurchaseOfCommonStock as string, paymentsForRepurchaseOfEquity as string, paymentsForRepurchaseOfPreferredStock as string, proceedsFromIssuanceOfCommonStock as string, proceedsFromIssuanceOfLongTermDebtAndCapitalSecuritiesNet as string, proceedsFromIssuanceOfPreferredStock as string, proceedsFromOperatingActivities as string, proceedsFromRepaymentsOfShortTermDebt as string, proceedsFromRepurchaseOfEquity as long, proceedsFromSaleOfTreasuryStock as string, profitLoss as long, reportedCurrency as string)[], symbol as string),",
						"          headers as [string,string]",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     httpMethod: 'GET',",
						"     timeout: 30,",
						"     requestInterval: 0,",
						"     paginationRules: ['supportRFC5988' -> 'true'],",
						"     responseFormat: ['type' -> 'json', 'documentForm' -> 'documentPerLine']) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource_test')]",
				"[concat(variables('factoryId'), '/datasets/Json1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Main Data Ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "SymbolsRefData",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@take(activity('Lookup1').output.value ,5)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Data flow1",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "Balancesheet",
											"type": "DataFlowReference",
											"parameters": {
												"symbol": {
													"value": "'@{item().ticker}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												},
												"sink1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Data flow2",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Data flow1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "Cashflow",
											"type": "DataFlowReference",
											"parameters": {
												"symbol": {
													"value": "'@{item().ticker}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												},
												"sink1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								},
								{
									"name": "Data flow3",
									"type": "ExecuteDataFlow",
									"dependsOn": [
										{
											"activity": "Data flow2",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "Incomestatement",
											"type": "DataFlowReference",
											"parameters": {
												"symbol": {
													"value": "'@{item().ticker}'",
													"type": "Expression"
												}
											},
											"datasetParameters": {
												"source1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												},
												"sink1": {
													"ticker": {
														"value": "@{item().ticker}",
														"type": "Expression"
													}
												}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-14T11:45:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SymbolsRefData')]",
				"[concat(variables('factoryId'), '/dataflows/Balancesheet')]",
				"[concat(variables('factoryId'), '/dataflows/Cashflow')]",
				"[concat(variables('factoryId'), '/dataflows/Incomestatement')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parent-test-1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "SymbolsRefData",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "outer-for-each",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@take(activity('Lookup1').output.value,1)",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "child-test-1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": false,
										"parameters": {
											"ticker": {
												"value": "@item().ticker",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ticker": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2024-02-14T07:09:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SymbolsRefData')]",
				"[concat(variables('factoryId'), '/pipelines/child-test-1')]"
			]
		}
	]
}