pipeline/Main Data Ingestion.json
{
	"name": "Main Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SymbolsRefData",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@take(activity('Lookup1').output.value, 5)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Balancesheet",
									"type": "DataFlowReference",
									"parameters": {
										"symbol": {
											"value": "'@{item().ticker}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										},
										"sink1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Data flow2",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Data flow1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Cashflow",
									"type": "DataFlowReference",
									"parameters": {
										"symbol": {
											"value": "'@{item().ticker}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										},
										"sink1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "Data flow3",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Data flow2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Incomestatement",
									"type": "DataFlowReference",
									"parameters": {
										"symbol": {
											"value": "'@{item().ticker}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										},
										"sink1": {
											"ticker": {
												"value": "@{item().ticker}",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/admin@monashuniversity503.onmicrosoft.com/TestsStocks/Autoloader-Bronze"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook2",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/admin@monashuniversity503.onmicrosoft.com/TestsStocks/Bronze -  Silver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook3",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/admin@monashuniversity503.onmicrosoft.com/TestsStocks/Silver - Gold"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-14T11:45:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}